body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

/* Boutons haut */
.top-buttons {
    margin: 20px;
}

.top-buttons button {
    padding: 10px 25px;
    background: #1e88c8;
    border: none;
    color: white;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
}

/* Titre */
.title {
    background: #f2c500;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

/* Switch */
.view-switch button {
    padding: 8px 20px;
    margin: 5px;
    background: #1e88c8;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* Navigation mois */
.month-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.month-navigation button {
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

#currentMonth {
    background: #1e88c8;
    color: white;
    padding: 10px 50px;
    margin: 0 15px;
    border-radius: 4px;
}

/* Tableau */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

th {
    background: black;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid #ccc;
    height: 60px;
}

/* Lignes types */
.row-perm {
    background: #1e88c8;
    color: white;
}

.row-stage {
    background: #ff2e2e;
    color: white;
}

.row-malade {
    background: #9ed36a;
}

/* Week-end */
.weekend {
    background: #e0e0e0;
    pointer-events: none;
}   