body {
    font-family: Arial, sans-serif;
    background: #07111c;
    text-align: center;
}

/* Boutons SPA et Calendrier*/
.top-buttons {
    margin: 20px;
}

.top-buttons button {
    padding: 10px 25px;
    background: #0270b54c;
    border: none;
    color: #0270b5;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
}

/* Titre */
.title {
    background: #130d424b;
    color: #1400ac;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 7%;
}

/* Switch */
.view-switch button {
    padding: 8px 20px;
    margin: 5px;
    background: #1e87c84b;
    border: none;
    color: #1e88c8;
    border-radius: 4px;
    cursor: pointer;
}
.view-switch button:hover {
    background: #1114c4;
    color: black;
}

/* Navigation mois */
.month-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.month-navigation button {
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
    background: #41545f4b;
}

.month-navigation:hover button {
    background: #256b9332;
    color: rgb(46, 112, 74);
}

#currentMonth {
    background: #133a5357;
    color: #133b53f9;
    padding: 10px 50px;
    margin: 0 15px;
    border-radius: 4px;
}

#currentMonth:hover {
    background: #081c57;
    color: black;
}

/* Tableau */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}


th {
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}


td {
    border: 1px solid #ccc;
    height: 60px;
    color: #5d5252;
}

/* Change la couleur d'une colonne quand le curseur passe dessus*/
td:hover{
    background-color: rgb(40, 11, 95);
}


/* Week-end */
.weekend {
    background: #d39f9fa4;
    pointer-events: none;
    color: #fe9191;
}

/* Jour actuel */
td.today {
    background: #00f21462;
    color: #00f214;
}
/* le survol doit toujours changer la teinte sans trop écraser la couleur */
td.today:hover{
    background: #f0d688;
}

/* Vue Jour - colonne heure */
.day-view-table {
    width: 60%;
}

.col-heure {
    width: 80px;
    text-align: center;
    font-weight: bold;
    color: #240f0f;
    background: #091bd7;
    border-right: 2px solid #ccc;
}

td.col-heure:hover {
    color: #f2c500;
    box-shadow: #00f234 0px 0px 10px;
    border-radius: 25%;
}
